

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>I/NGO AID Utility Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles 
    <link rel="stylesheet" href="{% static "css/dca.css" %}" /> -->
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
  
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/leaflet.css" %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
                    <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
                                   <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
  </head>

  <body>


  	<div class="container-fluid">
  <div class="row-fluid">
    <div  class="span2">
      <!--Sidebar content-->
      <h3 style="color:#333333;">Programs </h3>
<a href="/program/{{ program.id }}">{{ program.ingo.name }}</a>
    </div>
    <div style="font-size:20px;" class="span10">
      <!--Body content-->
      Type of Organization:
      <p class="text-success">{{ ingo.org_type }}</p>
      Organization Name:
<p class="text-info">{{ ingo.name }}.</p>
	  Region
<p class="text-warning">{{ ingo.address.district_name }}</p>
	  Contact Person <br/>
{{ ingo.contact_person }} <br/><br/>
	  Contact Number <br/>
{{ ingo.contact_number }}

	
    </div>
  </div>
</div>

  	<div class="container">
    


  </div>




      
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">I/NGO AID Utility Analyzer</a>
          <div class="nav-collapse collapse">
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div style="padding-left:100px;">
  
</div>
    <div class="container">
     <div class="container">
   
</div>
<hr class="bs-docs-separator">
 <div class="container">
<div id="map" style="width: 100%; height: 470px"></div>
</div>
<hr class="bs-docs-separator">
<div id="graphDiv">
  </div>
<div id="resultDiv">

</div>
    </div> <!-- /container -->
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
<script src="{% static "js/jquery.js" %}"></script> 
    <script src="{% static "js/bootstrap-transition.js" %}"></script>
    <script src="{% static "js/bootstrap-alert.js" %}"></script>
    <script src="{% static "js/bootstrap-modal.js" %}"></script>
    <script src="{% static "js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "js/bootstrap-tab.js" %}"></script>
    <script src="{% static "js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "js/bootstrap-popover.js" %}"></script>
    <script src="{% static "js/bootstrap-button.js" %}"></script>
    <script src="{% static "js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "js/bootstrap-typeahead.js" %}"></script>
<script src="{% static "js/jquerya.js" %}"></script>
  <script src="{% static "js/jqueryui.js" %}"></script>
    <script src="{% static "js/ajax-request.js" %}"></script>
    <script src="{% static "js/dca.js" %}"></script>
    <script src="{% static "js/dcb.js" %}"></script>


  <script src="{% static "js/districts.js" %}"></script>
  <script src="{% static "js/leaflet.js" %}"></script>
    <!-- // <script src="{% static "js/loadmap.js" %}"></script>    -->

<script type="text/javascript">

var sVars = ['Taplejung','Panchthar','Ilam','Jhapa','Morang','Sunsari','Dhankuta','Terhathum','Sankhuwasabha','Bhojpur','Solukhumbu','Okhaldhunga','Khotang','Udayapur','Saptari','Siraha','Dhanusha','Mahottari','Sarlahi','Sindhuli','Ramechhap','Dolakha','Sindhupalchok','Kavrepalanchok','Lalitpur','Bhaktapur','Kathmandu','Nuwakot','Rasuwa','Dhading','Makwanpur','Rautahat','Bara','Parsa','Chitwan','Gorkha','Lamjung','Tanahu','Syangja','Kaski','Manang','Mustang','Myagdi','Parbat','Baglung','Gulmi','Palpa','Nawalparasi','Rupandehi','Kapilbastu','Arghakhanchi','Pyuthan','Rolpa','Rukum','Salyan','Dang','Banke','Bardiya','Surkhet','Dailekh','Jajarkot','Dolpa','Jumla','Kalikot','Mugu','Humla','Bajura','Bajhang','Achham','Doti','Kailali','Kanchanpur','Dadeldhura','Baitadi','Darchula'];


function getSuggestion()
{
    var searchTxt = $('#location').val().trim();
    var queryArr = searchTxt.split(',');
    queryText = "";
    for(i = 0; i<queryArr.length; i++)
    {
        if(i==0)
        {
            queryText += "district="+(queryArr[0].trim());
            query = "&get=district";
        }
        else if(i==1)
        {
            queryText += "&vdc="+(queryArr[1].trim());
            query = "&get=vdc";
        }
        else if(i==2)
        {
            queryText += "&ward="+(queryArr[2].trim());
            query = "&get=ward";
        }
    }
    queryText += query;
    $.ajax({ 
           

            type:"post",
            dataType:"json",
            url: "suggestion",
            data: queryText,
            success: function(data){
                rslt = "";
                suggestion = data.result; 
            for(i = 0; i<queryArr.length-1; i++)
            {
                rslt = queryArr[i] + ', ';
            }

            var finalsuggestion = [];
            for(i=0;i<suggestion.length;i++)
            {
            finalsuggestion.push(rslt+suggestion[i])
        }
        sVars = finalsuggestion;
        } 

});
}
$( "#location" ).autocomplete({
      source: sVars
    });
 /*
$('#location').keyup(function() {
  getSuggestion();
  $( "#location" ).autocomplete({
      source: sVars
    });
});

*/
  

<div class="fb-comments" data-href="http://127.0.0.1:8000/" data-width="540" data-num-posts="15" data-colorscheme="dark"></div>

</script>
  </body>
</html>




