{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>I/NGO AID Utility Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles 
    <link rel="stylesheet" href="{% static "css/dca.css" %}" /> -->
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
  
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/leaflet.css" %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
                    <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
                                   <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
  </head>

  <body>
      
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">I/NGO AID Utility Analyzer</a>
          <div class="nav-collapse collapse">
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div style="padding-left:100px;">
  
</div>
    <div class="container">
     <div class="container">
   
</div>
<hr class="bs-docs-separator">
 <div class="container">
  <h2>Distribution of I/NGOs in Nepal</h2>
<div id="map" style="width: 100%; height: 470px"></div>
<a href="#myModal" role="button" data-toggle="modal" id="showmodel" style="visibility:hidden;">Advanced Search</a>
</div>
<hr class="bs-docs-separator">
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Kathmandu</h3>
  </div>
  <div class="modal-body">
<div id="modelcontent">
</div>


    
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div></div>
    </div> <!-- /container -->
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
<script src="{% static "js/jquery.js" %}"></script> 
    <script src="{% static "js/bootstrap-transition.js" %}"></script>
    <script src="{% static "js/bootstrap-alert.js" %}"></script>
    <script src="{% static "js/bootstrap-modal.js" %}"></script>
    <script src="{% static "js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "js/bootstrap-tab.js" %}"></script>
    <script src="{% static "js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "js/bootstrap-popover.js" %}"></script>
    <script src="{% static "js/bootstrap-button.js" %}"></script>
    <script src="{% static "js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "js/bootstrap-typeahead.js" %}"></script>
<script src="{% static "js/jquerya.js" %}"></script>
  <script src="{% static "js/jqueryui.js" %}"></script>
    <script src="{% static "js/ajax-request.js" %}"></script>
    <script src="{% static "js/dca.js" %}"></script>
    <script src="{% static "js/dcb.js" %}"></script>


<script src="/index/data.js"></script>
  <script src="{% static "js/districts.js" %}"></script>
  <script src="{% static "js/leaflet.js" %}"></script>
    <script src="{% static "js/loadmap.js" %}"></script>   

<script type="text/javascript">




function getSuggestion()
{
    var searchTxt = $('#location').val().trim();
    var queryArr = searchTxt.split(',');
    queryText = "";
    for(i = 0; i<queryArr.length; i++)
    {
        if(i==0)
        {
            queryText += "district="+(queryArr[0].trim());
            query = "&get=district";
        }
        else if(i==1)
        {
            queryText += "&vdc="+(queryArr[1].trim());
            query = "&get=vdc";
        }
        else if(i==2)
        {
            queryText += "&ward="+(queryArr[2].trim());
            query = "&get=ward";
        }
    }
    queryText += query;
    $.ajax({ 
           

            type:"post",
            dataType:"json",
            url: "suggestion",
            data: queryText,
            success: function(data){
                rslt = "";
                suggestion = data.result; 
            for(i = 0; i<queryArr.length-1; i++)
            {
                rslt = queryArr[i] + ', ';
            }

            var finalsuggestion = [];
            for(i=0;i<suggestion.length;i++)
            {
            finalsuggestion.push(rslt+suggestion[i])
        }
        sVars = finalsuggestion;
        } 

});
}
$( "#location" ).autocomplete({
      source: sVars
    });
 /*
$('#location').keyup(function() {
  getSuggestion();
  $( "#location" ).autocomplete({
      source: sVars
    });
});

*/
  

<div class="fb-comments" data-href="http://127.0.0.1:8000/" data-width="540" data-num-posts="15" data-colorscheme="dark"></div>

</script>
  </body>
</html>
